In [ ]:
# PTHON Basics DAY_5

# Adding WHITESPACES  to String :

In [1]:
print('PYTHON')

PYTHON

In [2]:
print('\tPYTHON')  # \t is known as TAB delimiter

	PYTHON

In [ ]:
# EMPTY space on the left side is also considered as character only.

In [4]:
print('LANGUAGES:\nPython\nC\nJava\nJavaScript\nSql')

LANGUAGES:
Python
C
Java
JavaScript
Sql

In [ ]:
# \n ----> It has to print in a NEW Line

In [6]:
print('LANGUAGES:\n\tPython\n\tC\n\tJava\n\tJavaScript\n\tSql')  #\n\t ---> togenther is used

LANGUAGES:
	Python
	C
	Java
	JavaScript
	Sql

In [ ]:
# STRIPPING of WhiteSpaces : Removal or Deletion

In [7]:
lan = '   Python   '
print(lan)

   Python

In [9]:
lan.rstrip()  #Padding from Right

'   Python'

In [10]:
lan.lstrip()  #Padding from left

'Python   '

In [11]:
lan.strip()  #Padding from both Left and Right

'Python'

In [ ]:
# Avoding Sysntax Error with the String:

In [12]:
message='One of Python's strength is its diverse community'

SyntaxError: invalid syntax (<ipython-input-12-4dfc6a629d4e>, line 1)

In [13]:
message="One of Python's strength is its diverse community"
print(message)

One of Python's strength is its diverse community

In [ ]:
# Introduction of integer (int) data type

In [14]:
a=2
print(a)

2

In [16]:
print (type(a))  # type function ---> used to define the type of variable

<class 'int'>

In [18]:
a=2.0
print(a)
print(type(a))

2.0
<class 'float'>

In [19]:
a='deepak'
print(a)
print(type(a))

deepak
<class 'str'>

In [21]:
a=3/2
print(a)
print(type(a))

1.5
<class 'float'>

In [22]:
a=3//2
print(a)
print(type(a))

1
<class 'int'>

In [23]:
print(2**3)

8

In [24]:
print(2.2**3)

10.648000000000003

In [25]:
print(2+3*4)

14

In [26]:
print((2+3)*4)

20

In [ ]:
# BOSMAS rule : Bracket,Multiplication, addition or substraction

In [27]:
2-3+4*10

39

In [28]:
2+3-4+1-3

-1

In [29]:
# Introduction of float data type

In [30]:
a=3.2
print(a)
print(type(a))

3.2
<class 'float'>

In [32]:
x=1.0
y=2.0
print(x+y)
print(type(x+y))

3.0
<class 'float'>